@model ManBox.Model.ViewModels.ForgotPasswordViewModel

<div class="container">
<div class="row sheet">
    <div class="span9">

    <h3>@Html.LocalizedText("ForgottenPasswordTitle")</h3>

    <p>@Html.LocalizedText("ForgottenPasswordFormText")</p>

    @using (Html.BeginForm("PasswordReset", "Account"))
    { 
            
        @Html.ValidationMessageFor(m => m.Email)
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)

        <div>
            <button type="submit" class="btn btn-primary btn-large">@Html.LocalizedText("ForgottenPasswordFormSubmit")</button>   
        </div>
    }
    </div>
</div>
</div>