@model ManBox.Model.ViewModels.CheckoutShippingViewModel

<div class="container">
    <div class="row sheet">
        <div class="span12">

            <div class="big-title">@Html.LocalizedText("CheckoutSizeTitle")</div>

            <div class="row">
                <div class="span7 cart-overview">

                    <!-- ko if: Pack.Title -->
                    <div class="pack cart-group" data-trigger="manual" data-content="@Html.LocalizedText("CheckoutSizeVerify")">
                        <div class="pack-header">
                            <div class="pack-picture"><img src="@Url.Content("~/Content/images/pack_icon_mini.jpg")" /></div>
                            @*<div class="pack-picture" data-bind="style: { backgroundImage: 'url(@Url.CdnPath()/packs/pack' + Pack.PackId() + '.jpg)' }" ></div>*@
                            <span class="item-title" data-bind="text: Pack.Title"></span>
                            <a class="remove" href="javascript:;"><i class="icon-trash" data-track-action="removePackFromCartOverview" data-bind="click: removePack"></i></a>
                            <div class="price price-big" data-bind="text: Pack.Price"></div>
                        </div>

                        <!-- ko foreach: Pack.SelectedProducts -->
                        <div class="product">
                            <div class="product-image">
                                <img data-bind="attr: { src: '@Url.CdnPath()/products/' + ProductReference() + '_S.jpg' }" src="@Url.Content("~/Content/images/tinytrans.gif")" />
                            </div>
                            <div class="selection-label">
                                <div class="title"><span data-bind="text: ProductTitle"></span></div>
                                <label data-bind="visible: Models().length > 1">Size</label>

                                <div class="btn-toolbar" style="margin: 0;" data-bind="visible: Models().length > 1">
                                    <div class="btn-group">
                                        <!-- ko foreach: Models -->
                                        <button class="btn" data-bind="text: Name, attr: { 'data-value': ModelId() }, click: $parent.selectModelSize, css: { active : $parent.selectedModelId() === ModelId() }"></button>
                                        <!-- /ko -->
                                    </div>
                                </div>

                                <div class="qty" data-bind="text: 'Qty: ' + Quantity()"></div>
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                    <!-- /ko -->

                    <div class="cart-group">
                        <!-- ko foreach: SelectedProducts -->
                        <div class="product">
                            <div class="product-image">
                                <img data-bind="attr: { src: '@Url.CdnPath()/products/' + ProductReference() + '_S.jpg' }" src="@Url.Content("~/Content/images/tinytrans.gif")" />
                            </div>
                            <div class="selection-label">
                                <span class="item-title" data-bind="text: ProductTitle()"></span>
                                <a class="remove" href="javascript:;"><i class="icon-trash" data-track-action="removeFromCartOverview" data-bind="click: $parent.removeModel"></i></a>
                                <label data-bind="visible: Models().length > 1">Size</label>

                                <div class="btn-toolbar" style="margin: 0;" data-bind="visible: Models().length > 1">
                                    <div class="btn-group">
                                        <!-- ko foreach: Models -->
                                        <button class="btn" data-bind="text: Name, attr: { 'data-value': ModelId() }, click: $parent.selectModelSize, css: { active : $parent.selectedModelId() === ModelId() }"></button>
                                        <!-- /ko -->
                                    </div>
                                </div>

                                <div class="qty" data-bind="text: 'Qty: ' + Quantity()"></div>
                            </div>
                            <div class="price price-big" data-bind="text: SubTotalPrice()"></div>
                        </div>
                        <!-- /ko -->
                    </div>

                    <table class="table table-hover">
                        <tr>
                            <td>@Html.LocalizedText("CartSubTotal")</td>
                            <td class="right-align"><span data-bind="text: ItemsTotal()"></span></td>
                        </tr>
                        <tr class="green">
                            <td class="delivery"><span class="help">@Html.LocalizedText("CartShippingFee") <i class="icon-info-sign"></i></span></td>
                            <td class="right-align"><span data-bind="text: ShippingFee()">0</span></td>
                        </tr>
                        <tr data-bind="visible: CouponAmount() && CouponAmount() !== ''" class="green">
                            <td class="delivery"><span data-bind="text: CouponLabel"></span></td>
                            <td class="right-align" data-bind="text: CouponAmount">0</td>
                        </tr>
                        <tr class="total-amount">
                            <td>@Html.LocalizedText("CartTotal")</td>
                            <td class="right-align"><span data-bind="text: SelectionTotal()"></span></td>
                        </tr>
                    </table>

                    @*<form action="@Url.Action("Shipping", "Checkout", null, "https")" method="post" data-bind="visible: !IsSubscribed()">*@
                    <form action="#"  data-bind="visible: !IsSubscribed()">
                        <a data-track-action="backFromCheckout" href="@Url.Action("Compose", "Box")" class="btn btn-small pull-left btn-back"><i class="icon-arrow-left"></i> @Html.LocalizedText("BackBtn")</a>
                        @*<button class="btn btn-success btn-large btn-checkout pull-right" data-bind="click: validateCheckout" type="submit">@Html.LocalizedText("CartCheckoutBtn") <i class="icon-shopping-cart icon-white"></i></button>*@
                        <button class="btn btn-success btn-large btn-checkout pull-right" data-bind="">@Html.LocalizedText("CartCheckoutBtn") <i class="icon-shopping-cart icon-white"></i></button>
                    </form>
                </div>


                <div class="span5 hidden-phone">
                    <div class="trust-column">
                        @Html.LocalizedText("ShippingTrustInfoHtml", new[] { @Url.Action("Contact", "Account") })
                    </div>


                    <div class="trust-logo">
                        <a data-track-action="trustLogo" href="https://www.paymill.com/nl-be/" target="_blank"><img src="@Url.Content("~/Content/images/paymill.jpg")" alt="paymill verified" /></a>
                        <a data-track-action="trustLogo" href="https://www.paypal.com/webapps/mpp/paypal-popup" target="_blank"><img src="@Url.Content("~/Content/images/paypal_verified.jpg")" alt="paypal verified" /></a>
                        <a data-track-action="trustLogo" href="http://www.instantssl.com/wildcard-ssl.html" target="_blank"><img src="@Url.Content("~/Content/images/comodo-site-secure.jpg")" alt="comodo ssl verified" /></a>
                    </div>

                    <div class="trust-testimonials">
                        <h4>@Html.LocalizedText("TestimonialsTitle")</h4>
                        <img src="@Url.LocalizedImage("testimonials.jpg")" alt="what our customers say" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Conversion Pixel - BE_CozyPixel_Manbox_conversion_checkout_size - DO NOT MODIFY -->
<img src="https://secure.adnxs.com/px?id=135384&seg=188926,188931,188965,188969&order_id=@(Model.Token)&value=@(Model.TotalInt)&t=2" width="1" height="1" />
<!-- End of Conversion Pixel -->
@section modals {
    @Html.Partial("_DeliveryModal")
}

@section scripts {
    @Scripts.Render("~/bundles/size")
}