@model ManBox.Model.ViewModels.LandingPageViewModel

@{
    Layout = "~/Views/Shared/_LayoutMinimal.cshtml";
}



<div class="landing">
    <a href="@Url.Action("Compose", "Box")"><img src="@Url.LocalizedImage("landing_chuck.png")" alt="chuck norris approval" /></a>
    <div class="startnow">
        <a class="btn btn-success btn-large" href="@Url.Action("Compose", "Box")">@Html.LocalizedText("LandingCreateBoxBtn") <i class="icon-circle-arrow-right icon-white"></i></a>
    </div>
</div>

<div class="landing-brands">
    <a href="@Url.Action("Compose", "Box")"><img src="~/Content/images/landing-brands.png" /></a>
</div>

<div class="row landing-secondary">
    <div class="span8">
        <div class="point">
            <div class="point-icon">
                <i class="icon-download-alt"></i>
            </div>
            <div class="point-text">
                <h4>@Html.LocalizedText("LandingSecondary1Title")</h4>
                <p>@Html.LocalizedText("LandingSecondary1Content", new[] { @Url.Action("Compose", "Box") })</p>
            </div>
        </div>
        <div class="point">
            <div class="point-icon">
                <i class="icon-time"></i>
            </div>
            <div class="point-text">
                <h4>@Html.LocalizedText("LandingSecondary2Title")</h4>
                <p>@Html.LocalizedText("LandingSecondary2Content", new[] { @Url.Action("Compose", "Box") })</p>
            </div>
        </div>
        <div class="point">
            <div class="point-icon">
                <i class="icon-thumbs-up"></i>
            </div>
            <div class="point-text">
                <h4>@Html.LocalizedText("LandingSecondary3Title")</h4>
                <p>@Html.LocalizedText("LandingSecondary3Content", new[] { @Url.Action("Compose", "Box") })</p>
            </div>
        </div>

        <a class="btn btn-success btn-large" href="@Url.Action("Compose", "Box")">@Html.LocalizedText("LandingCreateBoxBtn") <i class="icon-circle-arrow-right icon-white"></i></a>
    </div>
    <div class="span4 seal">
        <div class="fb-like-box" data-href="http://www.facebook.com/pages/Manbox/100147390164476" data-border-color="#87B7CF" data-width="288" data-show-faces="true" data-stream="false" data-header="false"></div>
        <br />
        <a href="https://twitter.com/manboxTeam" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @@manboxTeam</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        
    </div>
</div>

<div class="row">
    <div class="span12 blog-posts">
        @if (Model.BlogFeed != null && Model.BlogFeed.Posts != null)
        {
            <h3>@Html.LocalizedText("BlogPostsTitle")</h3>
            foreach (var d in Model.BlogFeed.Posts)
            { 
                <ul>
                    <li>
                        <a class="blog-title" href="@d.Url">@d.Title</a>
                        <p><a href="@d.Url">@d.Excerpt</a></p>
                    </li>
                </ul>
            }
        }
    </div>
</div>

@section scripts {
<script>
    $(document).ready(function () {
        // other page events
        $('.landing-secondary .point').click(function () { window.location.href = "@Url.Action("Compose", "Box")" });
    });
</script>        
}