@model ManBox.Model.ViewModels.LoginViewModel

<div id="loginModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">@Html.LocalizedText("Authenticate")</h3>
    </div>
    <div class="modal-body">
    
        <div class="pull-left">
        @using (Html.BeginForm("Login", "Account"))
        { 
            
            @Html.ValidationMessageFor(m => m.Email)
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email)

            @Html.ValidationMessageFor(m => m.Password)
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)

            <div>
                <button type="submit" class="btn btn-primary btn-large">@Html.LocalizedText("Authenticate")</button>   
            </div>
        }
        </div>
    
        <div class="fb-connect">
            <form action="@Url.Action("Login", "Facebook")" method="post">
                @Html.Hidden("provider", "Facebook")
                
                <button class="btn btn-primary btn-large"><i class="icon-facebook-sign icon-fb-button"></i>@Html.LocalizedText("FacebookConnectButton")</button>
                
            </form>
        </div>

    </div>
    
    <div class="modal-footer">
        <a href="@Url.Action("Register", "Account")">@Html.LocalizedText("NotSubscribedYet")</a> &nbsp;&nbsp;
        <a href="@Url.Action("PasswordReset", "Account")">@Html.LocalizedText("ForgottenPasswordTitle")</a>
    </div>
</div>